.bodyPage{
    border-left: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
    .table{
        .decr-incr{
            button{
                border: none;
                font-size: 20px;
            }
        }
        .iconCrow{
            margin-right: 10px;
        }
    }
}